<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dataeye.partner.mapper.PlayletPartnerUserMapper">

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into playlet_partner_user(username, password, salt)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.username}, #{entity.password}, #{entity.salt})
        </foreach>
    </insert>

</mapper>

